@import './variables.scss';

.App {
  text-align: center;
}

.App-header {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: $primary-color;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  line-height: 1;
}

button:hover {
  background-color: $secondary-color;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

body {
  background-color: $primary-color;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

main {
  height: 100vh;
}

.modal {
  position: fixed;
  top: 10%;
  left: 5%;
  min-width: fit-content;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 0.95;
  visibility: visible;
  border-radius: 22px;

  .modal-details {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
    text-transform: uppercase;
  }
  .modal-content {
    padding: 1rem;
    text-align: left;
  }

  .modal-close:hover {
    background-color: $secondary-color;
    font: white;
  }

  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
    button {
      border: 0;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }
  }
}
